body{
  background:#75c35d ;
}
.box{
  background: white;
  width: 200px;
  padding: 30px;
  margin: auto;
  margin-top: 200px;
}
.box input{
  padding: 10PX 0px;
  padding-left: 10px;
  margin-bottom: 6px;
  width: 100%;
  display: block;
  background: #f2f2f2;
  outline: none;
  border: none;
}
.loginbtn{
  background: #00B242 !important;
  color: white;
  width: 104% !important;
}

.rlink span{
  color: #beb6b6;
}
.rlink a{
  color: #35BC5E ;
  text-decoration: none;
}
.rlink{
  font-size: 10px;
  text-align: center;
}